.header {
  background-color: rgba(255, 255, 145, 0.532);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  /* position: sticky;
  top: 0;
  left: 0;
  z-index: 5; */
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

.nav > ul {
  list-style: none;
  display: flex;
  font-size: 1.4rem;
  cursor: pointer;
  height: 100%;
}

.nav > ul  li {
  font-weight: 300;
  padding: 10px;
  width: 7rem;
  text-align: center;
}
.nav > ul  a {
  text-decoration: none;
  color: black;

}
.nav > ul  li:hover {
  background-color: rgba(255, 255, 255, 0.475);
}

.active {
  background-color: rgb(255, 225, 0) !important;
}

.leading {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart__button{
  aspect-ratio: 1/1;
  border: 1px solid yellow;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.cart__button > *{
  margin: 0;
  padding: 0;
}

